html, body {

    width: 100%;
    height: 100%;

    padding: 10px;

    background-color: #e8e8e8;
    
}

[contenteditable=true]:empty:not(:focus):before{
    content:attr(data-ph);
    color:grey;
    font-style:italic;
  }

* {

    padding: 0;
    margin: 0;

    border: none;
    outline: none;

    box-sizing: border-box;
    font-family: Poppins;

}

button {

    cursor: pointer;

}

#left_container {

    width: 10%;

    /* 100% create unwanted overflow */
    height: 90%;

    float: left;
}

#logo_container {

    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

}

#logo {

    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;


}


#navigation_container {

    width: 100%;
    display: inline-block;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;

}

#navigation_inner_container {

    width: 70px;
    height: 100%;

    border-radius: 6px;

    background-color: white;
}

.navigation_option {

    width: 100%;
    height: 75px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;

    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;

}

.navigation_option:hover {

    font-size: 25px;

}

#middle_container {

    width: 70%;
    height: 100%;


    padding-right: 50px;

    float: left;

    display: flex;
    flex-direction: column;
}

#profile_container {

    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: row;

}

#profile_icon_container {

    width: 70px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* Push name and quote away to the right */
    margin-right: 10px;

    float: left;
}

#profile_icon {

    width: 70px;
    height: 70px;

    border-radius: 50%;


}

#profile_content_container {

    flex: 1;
    height: 100%;

    float: left;

}

#profile_friends_container {

    flex: 1;
    height: 100%;

    float: left;

}

#profile_friends_header {

    width: 100%;

    font-size: 30px;
    font-weight: bold;
    color: #ccc;

    float: left;
    
}

#profile_friends_search_container {

    width: 100%;
    height: 50px;

    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;

    float: left;

    padding: 10px;

}

#profile_friends_search {

    width: 90%;
    height: 100%;

    padding-left: 10px;

    background-color: #fff;
    float: left;

}

#profile_friends_search_button {

    width: 10%;
    height: 100%;

    background-color: #fff;
    float: left;

}

#profile_friends_inner_container {

    width: 100%;

    margin-top: 10px;

    float: left;

}

#profile_name_container {

    width: 100%;
    height: 50%;
    
    font-size: 30px;
    font-weight: bold;

    float: left;

    overflow: hidden;

    display: flex;
    align-items: flex-end;

}

#profile_quote_container {

    width: 80%;
    height: 50%;

    font-size: 15px;

    float: left;

    display: flex;
    align-items: flex-start;

    overflow: hidden;

    line-height: 2;

}

#profile_options_container {

    width: 400px;
    height: 100%;

    float: left;
}

#extra_container {

    width: 100%;
    height: 150px;

    padding: 20px;
        
    float: left;

    background-color: #fff;
    box-shadow: 0 0 20px -15px #ccc;
    border-radius: 5px;
}

#extra_header_container {

    width: 100%;
    float: left;
}

#extra_header_container h2 {

    font-size: 25px;
    font-weight: bold;

}

#extra_text_container {

    width: 100%;
    height: 80%;
    float: left;

    overflow-y: auto;
}

li {

    background-color: #f5f5f5;
    margin-bottom: 10px;
    margin-top: 10px;

}

#recommendation_container {

    width: 100%;
    height: 90%;

    margin-top: 30px;

    float: left;

}

#recommendation_inner_container {

    width: 100%;
    height: 95%;

    overflow-y: auto;

}

#recommendation_header {

    width: 100%;
    height: 5%;

    font-size: 16px;

}

#calendar_container {

    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: row;

    background-color: #f5f5f5;
    padding: 0 5px 0 5px;

    margin-top: 30px;

}


#right_container {

    width: 20%;
    display: inline-block;

}

.day {

    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    

    background-color: #f5f5f5;

}

.day_title {

    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    float: left;

    font-weight: bold;

}

.day_content {

    flex: 1;

    padding: 0 5px 0 5px;

    overflow-y: auto;

}

.recommendation {

    width: 100%;
    display: inline-block;

    margin-bottom: 10px;
    padding: 15px;

    background-color: #f5f5f5;

}

.recommendation_subject_container {

    width: 100%;
    height: 45px;
    background-color: transparent;

}

.recommendation_subject {

    width: 100%;;
    height: 100%;

    font-size: 15px;
    font-weight: bold;
    background-color: #fafafa;

    padding: 10px 0 10px 0;;
}

.recommendation_date_container {

    width: 100%;
    height: 25px;

    background-color: #fff;

    /* Spacing below and above the profile section */
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.recommendation_date {

    display: inline-block;
    
    padding: 2px 10px 2px 10px;
    margin-right: 10px;

    font-weight: 300;

    background-color: #ff006e;
    color: #fff

}

.recommendation_time {

    display: inline-block;


}

.recommendation_options_container {

    width: 100%;
    height: 30px;

}

.recommendation_cancel {

    width: 50%;
    height: 100%;

    background: transparent;
    font-size: 12px;

}

.recommendation_ok {

    width: 50%;
    height: 100%;

    background-color: #ff5400;
    color: #fff;
    font-size: 12px;

    border-radius: 5px;
}

.recommendation_profile_container {

    width: 100%;
    height: 30px;

}

.recommendation_profile_image_container {

    width: 30px;
    height: 100%;

    margin-right: 10px;
    border-radius: 50%;

    background-color: #ccc;

    float: left;

}

.recommendation_profile_image {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;

    border-radius: 50%;

}

.recommendation_profile_name_container {

    display: inline-block;
    height: 100%;

    display: flex;
    align-items: center;

}

.recommendation_profile_name {

    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;

}




.block {

    width: 100%;
    display: inline-block;

    margin-bottom: 10px;
    background-color: #fff;

    padding: 10px;

}


.block.empty {

    height: 120px;

    border: none;

    background-color: #e8e8e8;

    border: 3px dashed #ccc;

}

.block_start_time, .block_stop_time {

    width: 100%;
    float: left;

    font-size: 14px;
    color: #ccc;

}

.block_activity {

    width: 100%;
    display: inline-block;

    font-weight: 500;

    background-color: #fafafa;

    padding-top: 10px;
    padding-bottom: 10px;

}


.friends {

    display: inline-block;
    height: 40px;

    margin-right: 10px;
    margin-bottom: 10px;

    border-radius: 5px;


}

.friends_image_container {

    width: 40px;
    height: 100%;

    float: left;

    border: 2px solid white;
    border-radius: 50%;

}

.friends_image {

    width: 100%;
    height: 100%;
    background-color: #f5f5f5;

    border-radius: 50%;

}

.friends_name_container {

    height: 100%;
    display: inline-block;

    padding: 0 10px 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    float: left;
}

.friends_name {

    font-weight: 500;
    text-transform: capitalize;

}


.friends_delete_container {

    height: 100%;
    width: 30px;

    margin-left: 5px;

    padding: 0 10px 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    float: left;
    cursor: pointer;

    background-color: #fafafa;
    
}

.friends_delete {

    font-weight: bold;
    user-select: none;

}


#overlay {
    
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #ccc;
    opacity: 0.6;
}

#login_overlay {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background: linear-gradient(217deg, #ffbe0b 2%, #ff006e 15%, #8338ec 33%)


}

#outer_container {

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

}

#container {

    width: 400px;
    display: inline-block;

    background-color: #f5f5f5;
    border-radius: 10px;

    padding: 30px;
    position: absolute;

}

#login_container {

    width: 400px;
    display: inline-block;

    background-color: #f5f5f5;
    border-radius: 10px;

    padding: 30px;
    position: absolute;


}

#container_header_container {

    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;

    float: left;

}

#container_header_logo {
    float: left;
    height: 40px;

    margin-right: 10px;
}

#login_container_header {
    font-size: 34px;
    float: left;

}

#container_inner_container {

    width: 100%;
    height: 105px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 10px;
    margin-bottom: 10px;

    float: left;

}

#container_login_inner_container {

    width: 100%;
    display: inline-block;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 10px;
    margin-bottom: 10px;

    float: left;

}

#container_add_friend_inner_container {

    width: 100%;
    height: 75px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;

    float: left;

}

#container_message_container {

    width: 100%;
    height: 100%;
    
    padding: 10px;

    background-color: #fafafa;
    overflow-y: auto;

    float: left;

}   

#container_email_container, #container_username_container, #container_password_container {

    width: 100%;
    height: 45px;
    
    padding: 10px;
    margin-bottom: 10px;

    background-color: #fafafa;
    overflow-y: auto;

    float: left;

}

#container_footer_container {

    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    float: left;
}

#container_update_button {

    width: 50%;
    height: 100%;

    background-color: #00B4D8;
    color: #fff;

    border-radius: 5px;
    font-weight: 300;
    font-size: 14px;

}

#container_delete_button {

    width: 50%;
    height: 100%;

    color: #000;
    background-color: transparent;
    font-weight: 300;
    font-size: 14px;

}

#container_add_button {

    width: 100%;
    height: 100%;

    background-color: #FF8500;
    color: #fff;

    border-radius: 5px;
    font-weight: 300;
    font-size: 14px;

}
#container_sign_up_button {

    width: 100%;
    height: 100%;

    background-color: #ff006e;
    color: #fff;

    border-radius: 5px;
    font-weight: 300;
    font-size: 14px;

}